<div class="fade-in">
    <c-row>
        <c-col sm="12">
            <c-row>
                <c-col sm="3">
                    <c-card>
                        <c-card-header>
                            <strong>Contact</strong><small> Creation</small>
                        </c-card-header>
                        <c-card-body>
                            <c-row>
                                <c-col sm="12">
                                     <c-form-group>                                       
                                        <input cInput id="name" placeholder=" " >
                                        <span class="floating-label required">Contact Name</span>
                                    </c-form-group>
                                </c-col>
                                <c-col sm="12">
                                    <c-form-group>                                       
                                       <input cInput id="name" placeholder=" " >
                                       <span class="floating-label required">Contact Name</span>
                                   </c-form-group>
                               </c-col>                                
                                <c-col sm="12">
                                    <c-form-group>
                                        <input cInput id="ccnumber" placeholder=" "  autocomplete="cc-number">
                                        <span class="floating-label required">Contact number</span>
                                    </c-form-group>
                                </c-col>
                                <c-col sm="12">
                                    <c-form-group>
                                        <input cInput id="ccnumber" placeholder=" "  autocomplete="cc-number">
                                        <span class="floating-label required">Alternate Number</span>
                                    </c-form-group>
                                </c-col>
                                <c-col sm="12">
                                    <c-form-group>
                                        <input cInput id="ccnumber" placeholder=" "  autocomplete="cc-number">
                                        <span class="floating-label required">Email</span>
                                    </c-form-group>
                                </c-col>
                                <c-col sm="12">
                                    <c-form-group>
                                        <input cInput id="ccnumber" placeholder=" "  autocomplete="cc-number">
                                        <span class="floating-label required">Contact number</span>
                                    </c-form-group>
                                </c-col>
                            </c-row>
                        </c-card-body>
                    </c-card>
                </c-col> 
                <c-col sm="9">
                    <c-card>
                        <c-card-header>
                            <strong>Contact</strong><small> Management</small>
                        </c-card-header>
                        <c-card-body>
                            <c-row>
                               

                            </c-row>
                        </c-card-body>
                    </c-card>
                </c-col>
            </c-row>
        </c-col>
    </c-row>
</div>