<div class="pulse">
    <c-row>
        <c-col sm="12">
            <c-card>
                <c-card-header>
                    <strong>Profile</strong>
                </c-card-header>
                <c-card-body>
                    <c-row>
                        <c-col sm="3">
                            <div class="imagePreview-demo text-center"></div>

                            <ul class="list-group list-group-flush">
                                <li class="list-group-item py-1">
                                    <div class="d-flex justify-content-between">
                                        <strong>Lead ID</strong>
                                        <span
                                            class="text-primary">
                                            </span>
                                    </div>
                                </li>
                                <li class="list-group-item py-1">
                                    <div class="d-flex justify-content-between">
                                        <strong>Name</strong>
                                        <span
                                            class="text-primary">Ramachanra
                                        </span>
                                    </div>
                                </li>
                                <li class="list-group-item py-1">
                                    <div class="d-flex justify-content-between">
                                        <strong>Contact No.</strong>
                                        <span class="text-primary">980987898</span>
                                    </div>
                                </li>
                                <li class="list-group-item py-1">
                                    <div class="d-flex justify-content-between">
                                        <strong>Email</strong>
                                        <span class="text-primary">ram@gmai.com</span>
                                    </div>
                                </li>
                                <li class="list-group-item py-1">
                                    <div class="d-flex justify-content-between">
                                        <strong>Address </strong>
                                        <span class="text-primary">#1,Vetri Street madurai, Tamilnadu</span>
                                    </div>
                                </li>
                                <li class="list-group-item py-1">
                                    <div class="d-flex justify-content-between">
                                        <strong>Reference</strong>
                                        <span class="text-primary">AnuPriya</span>
                                    </div>
                                </li>
                            </ul>
                        </c-col>
                        <c-col sm="9">
                            <table class="table ">
                                <tbody>
                                    <tr>                                      
                                        <th class="h4" colspan="4">Personal Details</th>
                                    </tr>
                                    <tr>
                                        <td><strong> Gender </strong></td>
                                        <td>Male</td>
                                        <td><strong> Father name </strong></td>
                                        <td>Arumugam</td>
                                    </tr>
                                    <tr>
                                        <td><strong> DOB </strong></td>
                                        <td>09-11-1990</td>
                                        <td><strong> Mother Name </strong></td>
                                        <td>Dhatchayani</td>
                                    </tr>
                                    <tr>
                                        <td><strong> Aathar Card </strong></td>
                                        <td>1212 1212 1212</td>                                   
                                        <td></td>
                                        <td></td>
                                    </tr>                                                                                                   
                                    <tr>
                                        <td><strong> Pan Card </strong></td>
                                        <td>ATCP3793N</td>                                   
                                        <td></td>
                                        <td></td>
                                    </tr>                                                                                                   
                                </tbody>                                      
                            </table>
                            <table class="table mt-2">
                                <tbody>
                                    <tr>                                      
                                        <th class="h4" colspan="4">Bank Account Details</th>
                                    </tr>
                                    <tr>
                                        <td><strong> Account number </strong></td>
                                        <td>1212 3232 3232</td>
                                        <td><strong> Account Type </strong></td>
                                        <td>Saving</td>
                                    </tr>
                                    <tr>
                                        <td><strong> IFSC </strong></td>
                                        <td>SC00100</td>                                   
                                        <td><strong> Location </strong></td>
                                        <td>Anna nager , Chennai</td>
                                    </tr>                                                                                          
                                </tbody>                                      
                            </table>
                            <table class="table mt-2 " >
                                <tbody>
                                    <tr>                                      
                                        <th class="h4" colspan="4">KYC Details</th>
                                    </tr>
                                    <tr>
                                        <td><strong> Aadhaar </strong></td>
                                        <td><span class="h6">&#10004; </span></td>
                                    </tr>
                                    <tr>
                                        <td><strong> Pan Card </strong></td>
                                        <td><span class="h6">&#10004; </span></td>
                                    </tr>
                                    <tr>
                                        <td><strong> Votor ID </strong></td>
                                        <td><span class="h6">&#10004; </span></td>
                                    </tr>
                                    <tr>
                                        <td><strong> Driving licence </strong></td>
                                        <td><span class="h6">&#10004; </span></td>
                                    </tr>
                                    <tr>
                                        <td><strong> Address proof </strong></td>
                                        <td><span class="h6">&#10004; </span></td>
                                    </tr>
                                                                                                                         
                                </tbody>                                      
                            </table>
                        </c-col>
                    </c-row>
                </c-card-body>
            </c-card>
        </c-col>
    </c-row>
</div>