<div class="fade-in">
    <c-row>
        <c-col sm="12">
            <c-row>
                <c-col sm="3">
                    <c-card>
                        <c-card-header>
                            <strong>Client</strong><small> Creation</small>
                        </c-card-header>
                        <c-card-body>
                            <c-row>
                                <c-col sm="12">
                                    <c-form-group>
                                        <input cInput id="name" placeholder=" ">
                                        <span class="floating-label required">Contact Name</span>
                                    </c-form-group>
                                </c-col>
                                <c-col sm="12">
                                    <c-form-group>
                                        <input cInput id="name" placeholder=" ">
                                        <span class="floating-label required">Contact Number</span>
                                    </c-form-group>
                                </c-col>
                                <c-col sm="12">
                                    <c-form-group>
                                        <input cInput id="name" placeholder=" ">
                                        <span class="floating-label required">ALternate Contact</span>
                                    </c-form-group>
                                </c-col>
                                <c-col sm="12">
                                    <c-form-group>
                                        <input cInput id="name" placeholder=" ">
                                        <span class="floating-label required">Email</span>
                                    </c-form-group>
                                </c-col>
                                <c-col sm="12">
                                    <c-form-group>
                                        <select cSelect id="ccmonth">
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                            <option>6</option>
                                            <option>7</option>
                                            <option>8</option>
                                            <option>9</option>
                                            <option>10</option>
                                            <option>11</option>
                                            <option>12</option>
                                          </select>
                                        <span class="floating-label-select required">Reference</span>
                                    </c-form-group>
                                </c-col>
                                <c-col sm="12">
                                    <c-form-group>
                                        <input cInput id="name" placeholder=" ">
                                        <span class="floating-label required">Assigned to</span>
                                    </c-form-group>
                                </c-col>
                                <c-col sm="12">
                                    <c-form-group>
                                        <button cButton color="info rounded-pill px-4 float-right" class="mr-1 mb-1">Save</button>
                                    </c-form-group>
                                </c-col>
                            </c-row>
                        </c-card-body>
                    </c-card>
                </c-col>
                <c-col sm="9">
                    <c-card>
                        <c-card-header>
                            <strong>Contact</strong><small> Management</small>
                        </c-card-header>
                        <c-card-body>
                            <c-row>
                                <c-col sm="12">

                                </c-col>
                            </c-row>
                        </c-card-body>
                    </c-card>
                </c-col>
            </c-row>
        </c-col>
    </c-row>
</div>