<div class="fade-in">
    <c-row>
        <c-col sm="12">
            <c-row>
                <c-col sm="3">
                    <c-card>
                        <c-card-header>
                            <strong>Client contact</strong><small> Creation</small>
                        </c-card-header>
                        <c-card-body>
                            <form #cForm="ngForm" (submit)="saveContact(cForm)">
                            <c-row>
                                <c-col sm="12">
                                    <c-form-group>
                                        <input cInput id="name" placeholder=" " name="contact_name" [(ngModel)]="contact_name">
                                        <span class="floating-label required">Contact Name</span>
                                    </c-form-group>
                                </c-col>
                                <c-col sm="12">
                                    <c-form-group>
                                        <input cInput name="contact_number" placeholder=" " [(ngModel)]="contact_number">
                                        <span class="floating-label required">Contact Number</span>
                                    </c-form-group>
                                </c-col>
                                <c-col sm="12">
                                    <c-form-group>
                                        <input cInput name="alternate_number" placeholder=" " [(ngModel)]="alternate_number">
                                        <span class="floating-label required">Alternate Contact</span>
                                    </c-form-group>
                                </c-col>
                                <c-col sm="12">
                                    <c-form-group>
                                        <input cInput name="email_id" placeholder=" " [(ngModel)]="email_id">
                                        <span class="floating-label required">Email</span>
                                    </c-form-group>
                                </c-col>
                                <c-col sm="12">
                                    <c-form-group>
                                        <input cInput name="facebook" placeholder=" " [(ngModel)]="facebook">
                                        <span class="floating-label required">Facebook</span>
                                    </c-form-group>
                                </c-col>
                                <c-col sm="12">
                                    <c-form-group>
                                        <input cInput name="instagram" placeholder=" " [(ngModel)]="instagram">
                                        <span class="floating-label required">Instagram</span>
                                    </c-form-group>
                                </c-col>
                                <c-col sm="12">
                                    <c-form-group>
                                        <input cInput name="linked_in" placeholder=" " [(ngModel)]="linked_in">
                                        <span class="floating-label required">Linked In</span>
                                    </c-form-group>
                                </c-col>
                                <c-col sm="12">
                                    <c-form-group>
                                        <input cInput name="others_media_id" placeholder=" " [(ngModel)]="others_media_id">
                                        <span class="floating-label required">Other's</span>
                                    </c-form-group>
                                </c-col>
                                <c-col sm="12">
                                    <c-form-group>
                                        <span >Status</span>
                                        <c-switch size="sm" shape="pill" color="primary" checked class="ml-3 mt-2" [(ngModel)]="status"></c-switch>
                                    </c-form-group>
                                </c-col>
                                <!-- <c-col sm="12">
                                    <c-form-group>
                                        <select cSelect id="ccmonth">
                                            <option>Social Media</option>
                                            <option value="1">Advertise</option>
                                            <option value="2">Employee</option>
                                            <option value="3">Others</option>
                                        </select>
                                        <span class="floating-label-select required">Reference</span>
                                    </c-form-group>
                                </c-col> 
                                <c-col sm="12">
                                    <c-form-group>
                                        <input cInput id="name" placeholder=" ">
                                        <span class="floating-label required">Assigned to</span>
                                    </c-form-group>
                                </c-col>-->
                                <c-col sm="12">
                                    <c-form-group>
                                        <button cButton color="info rounded-pill px-4 float-right"
                                            class="mr-1 mb-1">Save</button>
                                    </c-form-group>
                                </c-col>
                            </c-row>
                            </form>
                        </c-card-body>
                    </c-card>
                </c-col>
                <c-col sm="9">
                    <c-card>
                        <c-card-header>
                            <strong>Client Contact</strong><small> Management</small>
                            <div class="input-group col-md-2 float-right content-right">
                                <a class="btn btn-info btn-sm ml-2 cursor-pointer"  onclick="$('#file').click()"> 
                                    <i class="fa fa-upload text-white pr-2" aria-hidden="true" title="Import Excel"></i></a>
                                <a class="btn btn-sm btn-success ml-2" href="assets/templates/client_contact.csv"> 
                                    <i class="fa fa-download pr-2" aria-hidden="true" title="Download Template"></i></a>
                                <form class=" d-none " method="post" id="uploadexcel">
                                    <div class="form-group">
                                        <input type="file" class="form-control" name="file" id="file" accept=".xls" />
                                    </div>
                                </form>
                            </div>
                        </c-card-header>
                        <c-card-body>
                            <c-row>
                                <c-col sm="12">
                                    <table table class="table table-responsive-sm"  datatable="ng" [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">                                        
                                        <!-- <colgroup>
                                            <col class="column-1" />
                                            <col class="column-2" />
                                            <col class="column-3" />
                                            <col class="column-4" />
                                            <col class="column-5" />
                                            <col class="column-6" />
                                            <col class="column-7" />
                                        </colgroup> -->
                                        <thead>
                                            <tr>
                                                <th scope="col">id</th>
                                                <th>Contact Name</th>
                                                <th>Contact No</th>
                                                <th>Altername No</th>
                                                <th>Email</th>
                                                <th>Facebook</th>
                                                <th>Instagram</th>
                                                <th>linked In</th>
                                                <th>others ID's</th>
                                                <th>Descrition</th>
                                                <th>Option</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let user of returnedArray">
                                                <th scope="row">{{ user.id }}</th>
                                                <td>{{ user.name }}</td>
                                                <td>{{ user.contactno }}</td>
                                                <td>{{ user.alternateno }}</td>
                                                <td>{{ user.email }}</td>
                                                <td>{{ user.referral }}</td>
                                                <td>{{ user.assignto }}</td>
                                                <td>{{ user.assignto }}</td>
                                                <td>{{ user.assignto }}</td>
                                                <td>{{ user.assignto }}</td>
                                                <td nowrap>
                                                    <a href="#" (click)="editCompanyInfo(data)"> <i class="fa fa-edit h6 text-info px-2 mr-1"></i></a>
                                                    <a (click)="deleteCompany(data.sno)"> <i class="fa fa-trash h6 text-danger px-2"></i></a>
                                                </td>
                                                <!-- <td>
                                                    <c-badge [color]="getBadge(user.status)">{{
                                                        user.status
                                                        }}</c-badge>
                                                </td> -->
                                            </tr>
                                        </tbody>
                                    </table>
                                    <!-- <pagination [totalItems]="tableData.length" (pageChanged)="pageChanged($event)"
                                        [itemsPerPage]="5" [(ngModel)]="currentPage" [maxSize]="4" [rotate]="true">
                                    </pagination> -->
                                </c-col>
                            </c-row>
                        </c-card-body>
                    </c-card>
                </c-col>
            </c-row>
        </c-col>
    </c-row>
</div>