.login-bg {
    background-image: url('/assets/img/login-bg.jpg');
    background-repeat: no-repeat;
    background-size: 100% 110%;
}

// side menu
.menu-bg {
    background-image: linear-gradient(177deg, #393F6F, #7F4BA1) !important;
}

.c-sidebar .c-sidebar-nav-link,
.c-sidebar .c-sidebar-nav-dropdown-toggle {
    height: 35px;
    ;
}

// data table ui
.dataTables_length {
    width: 30% !important;
    position: absolute;
    margin-bottom: 4px;
    margin-top: -4px;
}

.dataTables_filter {
    position: static;
    float: right;
    margin-bottom: 4px;
    margin-top: -4px;
}

.dataTables_length>label>select,
.dataTables_filter>label>input {
    padding: 0.375rem 0.75rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    background-clip: padding-box;
    border: 1px solid;
    color: #5c6873;
    background-color: #fff;
    border-color: #e4e7ea;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.dataTables_length>label>select:focus,
.dataTables_filter>label>input:focus {
    color: #5c6873;
    background-color: #fff;
    border-color: #ccc7f6 !important;
    outline: 0;
    box-shadow: 0 0 0 0.08rem rgb(50 31 219 / 25%) !important;
}

.dataTable {
    font-size: 9.5pt;
}

.dataTable .table th,
.dataTable .table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid;
    border-top-color: #d8dbe0;
}

.dt-buttons {
    text-align-last: right;
    position: absolute;
    right: 22%;
}

.dataTables_wrapper .dataTables_paginate>span>.paginate_button {
    padding: 0 !important;
}

.dataTables_wrapper .dataTables_paginate>span>.paginate_button:hover {
    color: white !important;
    border: 1px solid #111 !important;
    background-color: #7F4BA1 !important;
    background: linear-gradient(to bottom, #585858 0%, #111 100%) !important;
}

.buttons-copy, .buttons-csv  {
    display: none;
}
.buttons-excel {
    color: #fff;
    background-color: #00834d;
    border-color: #00834d;
}

.buttons-print {
    color: #fff;
    background-color: #e55355;
    border-color: #e55355;
}

// .card-header{
//     background-image: linear-gradient(177deg, #5e68b6, #c978fd) !important;
//     color: #ffffff;
// }
.c-sidebar .c-sidebar-brand {
    color: #fff;
    background: #393F6F;
}

.c-sidebar .c-sidebar-nav-link:hover,
.c-sidebar .c-sidebar-nav-dropdown-toggle:hover {
    color: #fff;
    background-image: linear-gradient(177deg, #5e68b6, #c978fd) !important;
    border-radius: 35px 0 0 35px;
    height: 38px;
}

.c-sidebar .c-sidebar-nav-link.c-active,
.c-sidebar .c-active.c-sidebar-nav-dropdown-toggle {
    background-image: linear-gradient(180deg, #c978fd, #393F6F) !important;
    color: #ffffff;
    font-size: 12pt;
    border-radius: 35px 0 0 35px;
    height: 38px;
}

.c-sidebar-nav-link,
.c-sidebar-nav-dropdown-toggle {
    padding: 0.6445rem 1rem;
}


/* input lable on transition */


.content-right{
    justify-content: right;
}

.floating-label {
    position: absolute;
    z-index: 1;
    top: 9px;
    font-size: smaller;
    color: #777777;
    padding-left: 11px;
    pointer-events: none;
}

input:focus~.floating-label,
input:not(:placeholder-shown):not(:focus)~.floating-label {
    position: absolute;
    z-index: 1;
    top: -11px;
    font-size: 9px;
    color: #000000;
    padding-left: 6px;
    transition: 0.3s ease all;
    font-weight: 500;
}

.floating-label-select {
    position: absolute;
    z-index: 1;
    top: -11px;
    font-size: 9px;
    color: #000000;
    padding-left: 6px;
    transition: 0.3s ease all;
    font-weight: 500;
}

.imagePreview {
    width: 100%;
    height: 158px;
    background-position: center center;
    background: url("../assets/img/default.jpg");
    background-size: 100% 100%;
    background-color: #fff;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    box-shadow: 0px -3px 6px 2px rgba(0, 0, 0, 0.2);
    background-position-x: center;
}

.imagePreview-demo {
    width: 100%;
    height: 260px;
    background-position: center center;
    // background: url("../assets/img/avatars/demo-user.jpg");
    background: url("../assets/img/default.jpg");
    background-color: #fff;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    box-shadow: 0px -3px 6px 2px rgba(0, 0, 0, 0.2);
    background-position-x: center;
}

.form-control:focus {
    color: #5c6873;
    background-color: #fff;
    border-color: #ccc7f6 !important;
    outline: 0;
    box-shadow: 0 0 0 0.08rem rgb(50 31 219 / 25%) !important;
}
// Button Color
.btn-save{
    background-image: linear-gradient(180deg, #c978fd, #393F6F) !important;
}




@media (min-width: 768px) {
    .c-main>.container-fluid,
    .c-main>.container-sm,
    .c-main>.container-md,
    .c-main>.container-lg,
    .c-main>.container-xl,
    .c-main>.container-xxl {
        padding-right: 10px;
        padding-left: 10px;
        margin-top: -20px;
    }
}

// dark theme
.c-dark-theme .menu-bg {
    background: rgba(0, 0, 21, 0.2) !important;
}

.c-dark-theme input:focus~.floating-label,
.c-dark-theme input:not(:placeholder-shown):not(:focus)~.floating-label {
    position: absolute;
    z-index: 1;
    top: -11px;
    font-size: 9px;
    color: #ffffff;
    padding-left: 6px;
    transition: 0.3s ease all;
    font-weight: 500;
}

.c-dark-theme .floating-label-select {
    position: absolute;
    z-index: 1;
    top: -11px;
    font-size: 9px;
    color: #ffffff;
    padding-left: 6px;
    transition: 0.3s ease all;
    font-weight: 500;
}